T5/data_make/noreduce filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/zn_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/mg_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/zn_train/train.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/mg_train/train.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/ca_train/train.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/ca_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/mn_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/*/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/*/train.txt filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/*.tar.gz filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/blastDB/*.phr filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/blastDB/*.pin filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/blastDB/*.psq filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.phr filter=lfs diff=lfs merge=lfs -text
*.pin filter=lfs diff=lfs merge=lfs -text
*.psq filter=lfs diff=lfs merge=lfs -text
