T5/data_make/noreduce filter=lfs diff=lfs merge=lfs -text
T5/data_make/preprocess.ipynb filter=lfs diff=lfs merge=lfs -text
T5/data_make/utils.py filter=lfs diff=lfs merge=lfs -text
T5/data_make/vocab.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/irap.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/zn_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/mg_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/zn_train/train.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/mg_train/train.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/ca_train/train.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/ca_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/mn_train/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/*/negative_fragment.txt filter=lfs diff=lfs merge=lfs -text
T5/data_make/noreduce/train/*/train.txt filter=lfs diff=lfs merge=lfs -text
*.phr filter=lfs diff=lfs merge=lfs -text
*.btd filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/blastDB/taxdb.btd filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/pdbaa.tar.gz filter=lfs diff=lfs merge=lfs -text
RFCI_RMIC/model/irap/blastDB/pdbaa.phr filter=lfs diff=lfs merge=lfs -text
